---
- name: Main | Load platform variables
  ansible.builtin.import_tasks: set_vars.yml

- name: Main | Configure profile files
  ansible.builtin.import_tasks: configure.yml

- name: Main | Apply profile cache and rules
  ansible.builtin.import_tasks: apply.yml
