[{{ item.name }}]
{% if item.title is defined %}title={{ item.title }}
{% endif %}{% if item.description is defined %}description={{ item.description }}
{% endif %}ports={{ item.ports | join('|') }}

